<div class="container-small-card">
    
    <div class="small-card-foto">
        <a [routerLink]="['conteudo', id]"><img src="{{conteudoFoto}}" alt="campeonato cs-go" srcset=""></a>
    </div>

    <div class="small-info">
        <div class="small-card-titulo">
            <a [routerLink]="['conteudo', id]">{{conteudoTitulo}}</a>
        </div>
        
        <div class="small-card-resumo">
            <p>{{conteudoTexto}}
            </p>
        </div>
        <button [routerLink]="['conteudo', id]">Saiba +</button>
    </div>

</div>
