<div class="container-all-artigo">

    <div class="all-artigo-foto">
        <a href="#"><img src="https://s2-techtudo.glbimg.com/atDKq9hDC_kqIm6bjrtGHG_x3Ek=/0x0:1920x1080/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_08fbf48bc0524877943fe86e43087e7a/internal_photos/bs/2022/9/G/7B9o8LSmuBlPv2VROW1Q/wz-season-three-announce-tout.jpg" alt="COD:WarZone" srcset=""></a>
    </div>

    <div class="small-card-titulo">
        <a href="#">Novidades sobre Atualização COD:WarZone</a>    
    </div>
    
</div>
